<div class="jumbotron">
  <div class="row">
    <div class="span4">
      <p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>
      <p>Email: <%= @user.email %></p>
      <p>Designation: <%= @user.designation %></p>
    </div>
      <p>Start Date: <%= @user.start_date %></p>
      <p>End Date: <%= @user.end_date %></p>
  </div>
</div>