<div class='center'><h2>Anaesthetics Logbook</h2></div>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h5 class='sub-title'>A form to keep a log of skills practiced for Anaesthetics and their consultants to review them</h5>
    </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class='box'>

        <h3>Log in</h3>
          <%= form_for :user, :url => login_users_path do |f| %>
            <div class='form'>
              <%= f.label :email %>
              <%= f.text_field :email  %>
            </div>
            <div class='form'>
              <%= f.label :password  %>
              <%= f.password_field :password %>
            </div>
            <div class='submit'>
              <%= f.submit "Submit" %>
            </div>
          <% end %>
        <div>
          <a href='/users/new'>Click here to Sign Up</a>
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>