
<p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>
<p>Email: <%= @user.email %></p>
<p>Designation: <%= @user.designation %></p>
<p>Start Date: <%= @user.start_date %></p>
<p>End Date: <%= @user.end_date %></p>

<%= render "logs/log_form" %>
 

<%= form_for :user, :url => signout_users_path do |f| %>
    <%= f.submit "Logout" %>
<% end %>