  <div class="log-form">
  <%= form_for :log, :url => logs_path do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="row">
            <div class="span4">
        <div>
        <%= f.label :date %>
        <%= f.date_field :date %>
        </div>
        <div>
        <%= f.label :procedure, "Procedure/Skill" %>
        <%= f.select :procedure, [['Select'],['Adult intubation'],['Paediatric Intubation'],['Rapid sequence induction'], ['CVC placement'], ['Spinal anaesthesia'], ['Epidural placement'], ['Other (please specify)']] %>
    </div>
        </div>
        
        <div>
        <%= f.label :complications, "Any complications?" %>
        <%= f.text_field :complications, :value => "n/a", :onclick => 'this.select();' %>
        </div>
        <div>
        <%= f.label :teaching, "Any element of teaching involved?" %>
        <%= f.select :teaching,[['n/a'],['PTO'],['Core trainer anaesthetics'],['Core trainee'], ['Nurse practitioner'], ['Other (please specify)']] %>
        </div>
    </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
  <% end %>
</div>


