<h1>All logs</h1>

<table class="table table-striped">
  <thead>
    <th>Log ID</th>
    <th>Procedure</th>
    <th>Date</th>
    <th>Complication</th>
    <th>Reflection</th>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td>
          <%= link_to "Log #{log.id}", log_path(log) %>
        </td>
        <td>
          <%= log.procedure %>
        </td>
        <td>
          <%= log.date %>          
          <%= log.complications %>
        </td>
        <td>
          <%= log.teaching %>
        </td>
        <td>
          <%= log.reflection %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>